In [1]:
import pandas as pd

In [2]:
path = 'C:/Users/User/Desktop/MIT/Sentiment Analysis/data/'
file = 'tweets.csv'

In [3]:
tweets = pd.read_csv(path+file,  dtype={'Tweet': 'category'})
tweets.head()

                                               Tweet  Avg
0  I have to say, Apple has by far the best custo...  2.0
1  iOS 7 is so fricking smooth & beautiful!! #Tha...  2.0
2                                      LOVE U @APPLE  1.8
3  Thank you @apple, loving my new iPhone 5S!!!!!...  1.8
4  .@apple has the best customer service. In and ...  1.8

In [4]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tweet   1181 non-null   category
 1   Avg     1181 non-null   float64
dtypes: category(1), float64(1)
memory usage: 52.8 KB

BoW

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
import string
from nltk.corpus import stopwords
import nltk
from nltk.stem import PorterStemmer

In [6]:
stop_words = set(stopwords.words('english'))
punctuation = set(string.punctuation)
stemmer = PorterStemmer()

In [7]:
#del pucntuation and stopwords
def preprocess(text):    
    text = ''.join([char for char in text if char not in punctuation])
    text = ' '.join([stemmer.stem(word) for word in text.split() if word.lower() not in stop_words])
    return text

In [8]:
vectorizer = CountVectorizer(preprocessor=preprocess)

In [9]:
x = vectorizer.fit_transform(tweets['Tweet'])

In [10]:
bow_tweet = pd.DataFrame(x.toarray(), columns=vectorizer.get_feature_names_out())
print(bow_tweet)

      000  075  0909  0910  099  10  100  100m  1085  10min  ...  youtub  \
0       0    0     0     0    0   0    0     0     0      0  ...       0
1       0    0     0     0    0   0    0     0     0      0  ...       0
2       0    0     0     0    0   0    0     0     0      0  ...       0
3       0    0     0     0    0   0    0     0     0      0  ...       0
4       0    0     0     0    0   0    0     0     0      1  ...       0
...   ...  ...   ...   ...  ...  ..  ...   ...   ...    ...  ...     ...
1176    0    0     0     0    0   0    0     0     0      0  ...       0
1177    0    0     0     0    0   0    0     0     0      0  ...       0
1178    0    0     0     0    0   0    0     0     0      0  ...       0
1179    0    0     0     0    0   0    0     0     0      0  ...       0
1180    0    0     0     0    0   0    0     0     0      0  ...       0

      youv  yu  yurbud  z10  ze  zifmstereo  zimmerman  zippo  zostac
0        0   0       0    0   0           0          0      0       0
1        0   0       0    0   0           0          0      0       0
2        0   0       0    0   0           0          0      0       0
3        0   0       0    0   0           0          0      0       0
4        0   0       0    0   0           0          0      0       0
...    ...  ..     ...  ...  ..         ...        ...    ...     ...
1176     0   0       0    0   0           0          0      0       0
1177     0   0       0    0   0           0          0      0       0
1178     0   0       0    0   0           0          0      0       0
1179     0   0       0    0   0           0          0      0       0
1180     0   0       0    0   0           0          0      0       0

[1181 rows x 3434 columns]

most used words

In [11]:
word_counts = bow_tweet.sum(axis=0)

In [12]:
total_words = word_counts.sum()

In [16]:
threshold = 0.001 * total_words

In [17]:
frequent_words = word_counts[word_counts >= threshold]
tweetwords = frequent_words.reset_index()
tweetwords.columns = ['word', 'frequency']

In [18]:
tweetwords.head()

      word  frequency
0       5c         59
1       5s         91
2  android         24
3  announc         19
4    anyon         20